body {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

#debugContainer {
    display:flex;
    flex-direction: row;  
      padding: 2vw;
}

#title {

}

.clientViewer {
    /*display: inline-block;*/
    
}

.clientFrame {
    height: 50%;
}

.hubContainer {
    flex-grow: 2;
}

.clientContainer {
    text-align: center;
    overflow-y: scroll;
    flex-grow: 0.5;

}

.hub {
    margin: 0 auto;
    width: 80%;
    
}

.viewer {
}

iframe {
    /*border: dashed thin black;*/
    border: none;
    box-shadow: 0 0 20px 0 #ddd;
}

.debug_log {
    text-align: left;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 20vh;
    background-color: #eee;
    padding: 2.5vw;
    overflow: auto;
}