body {
    text-align: center;
}

.clientViewer {
    width: 20%;
    margin: 2.5%;
    display: inline-block;
}

.clientContainer {
    text-align: center;
    overflow: auto;
}

.hub {
    margin: 0 auto;
    width: 80%;
    
}

.viewer {
    height: 40%;
    width: 100%;
}

iframe {
    /*border: dashed thin black;*/
    border: none;
    box-shadow: 0 0 20px 0 #ddd;
}

.debug_log {
    text-align: left;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 20vh;
    background-color: #eee;
    padding: 2.5vw;
    overflow: auto;
}