<div class='bg gradient-green'>
    <div style='height: 30vw;' class='toggleable hide'>
        <h2><b>Location: </b>{stage.model.location.name}</h2>
        <h2><b>Role: </b>{device.data.location_role}</h2>
    </div>

    <hr/>

    <div id="suspects">
        <h2>Suspects</h2>
        {gm.model.players}[<div class='toggleable strike'>{name}</div>]
    </div>
    <div id="locations">
        <h2>Locations</h2>
        {gm.resources.locations.data}[<div class='toggleable strike'>{name}</div>]
    </div>

</div>